
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><b>{{user_profile.name}}</b></h2>
    <h3>{{user_profile.role}}</h3>
    <h3>&#9993 {{user_profile.email}}</h3>
    <h3>&#9742; {{user_profile.phone}}</h3>
    <h3>{{user_profile.github}}</h3>
    <hr/>
    <br/>
    <h3><b><p>Summary</p></b></h3>
    <p>{{user_profile.summary}}</p>
    <hr/>
    <h3><b><p>Technical Skills</p></b></h3>
    <p>{{user_profile.technical_skills}}</p>
    <hr/>
    <h3><b><p>Soft Skills</p></b></h3>
    <p>{{user_profile.soft_skills}}</p>
    <hr/>
    <h3><b><p>Education</p></b></h3>
    <ul>
        <li>{{user_profile.university}}</li>
        <li>{{user_profile.degree}}</li>
        
    </ul>
    <hr/>
    <h3><b><p>Work EXperience</p></b></h3>
    <p>{{user_profile.work_experience}}</p>

</body>
</html>